.Box{
	width: 800px;
    margin: 0 auto;
    height: 100%;
}
.Box.Loading{
    display: flex;
    justify-content: center;
}
.Box .EachBox{
    border-top: 1px solid #012;
    border-right: 1px solid #012;
    padding: 20px 40px;
    border-left: 1px solid #012;
    line-height: 26px;
    font-size: 16px;
    border-radius: 10px;
}
.Box .highlightText{
    font-weight: 600;
    letter-spacing: 1px;
}
.Box .EachBox:nth-child(odd){
    background:#ccc;
}
.Box .EachBox:last-child{
	border-bottom: 1px solid #012;
}
.Box .EachBox .MainHeading{
	font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px solid #fff;
}
.Box .EachBox:nth-child(odd) .MainHeading{
	border-bottom: 1px solid #ccc;
}
.Box .EachBox .MainHeading:hover{
	border-bottom: 1px solid #012;
}
.AllMatchView{
    display: block;
}
#EachMatchView{
    display: none;
}
.Box .teamBox{
    margin-bottom: 40px;
}
.Box .scoreBoard .matchHeading{
    padding: 10px 0px;
    font-weight: 400;
    font-size: 22px;
}
.Box .scoreBoard table{
    width: 100%;
    overflow: auto;
    border: 1px solid #000;
}
.Box .matchTitle{
    background-color: #c3c388;
    padding: 10px;
}
.Box .scoreBoard .batsman{
    margin: 10px 0px;
    overflow: auto;
}
.Box .scoreBoard .bowler{
    margin: 10px 0px;
    overflow: auto;
}
.Box .scoreBoard table tr{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.Box .scoreBoard table tr th{
    text-align: left;
    padding: 5px 10px;
}
.Box .scoreBoard table tr:nth-child(even){
    background-color: #ccffff;
}
.Box .scoreBoard table tr td{
    padding: 10px;
}

@media(max-width: 767px) {
    .Box{
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }
    .Box .EachBox{
        padding: 20px 15px;
        line-height: 24px;
        font-size: 14px;
    }
    .Box .EachBox .MainHeading{
        font-size: 16px;
        line-height: 28px;
    }
    .Box .scoreBoard table tr th{
        white-space: nowrap;
        text-align: center;
    }
    .Box .scoreBoard table tr td{
        white-space: nowrap;
    }
    .Box .scoreBoard .matchHeading{
        padding: 10px 0px;
        font-weight: 400;
        font-size: 18px;
    }
}