@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
  box-sizing: border-box;
}
.App {
  /*text-align: center;*/
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn.back-btn{
  display: inline-block;
  padding: 10px;
  background-color: #ccffff;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .page-start{
  margin-top: 60px;
  padding: 60px 40px;
}
@media(max-width: 767px) {
  .App .page-start {
    margin-top: 50px;
    padding: 20px;
  }
}